smartlink/flow.json
[
    {
        "id": "706afa9e19230267",
        "type": "tab",
        "label": "teste",
        "disabled": false,
        "info": "",
        "env": [],
        "dbPanelCode": ""
    },
    {
        "id": "02d8da1b2db80f5f",
        "type": "tab",
        "label": "Insurance Authorization",
        "disabled": false,
        "info": "",
        "env": [],
        "dbPanelCode": ""
    },
    {
        "id": "e3ce98a103ee4084",
        "type": "group",
        "z": "02d8da1b2db80f5f",
        "name": "Validações - Antes Salvar",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "51bc44fd658c0905",
            "204a42411668558d",
            "4a018fbde69ec876",
            "f8d172f51b7cdbda",
            "cd2c696d06a2d053",
            "ec9c58c94ff319b1",
            "40fbf948b5c67f58",
            "1e6ced99e53f5021"
        ],
        "x": 374,
        "y": 79,
        "w": 1092,
        "h": 242
    },
    {
        "id": "765cb5fcbf1ec363",
        "type": "group",
        "z": "02d8da1b2db80f5f",
        "name": "Retorno para Tasy",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "555be22ddb680ac8"
        ],
        "x": 1294,
        "y": 359,
        "w": 212,
        "h": 82
    },
    {
        "id": "c9315a340c5d2cea",
        "type": "http in",
        "z": "706afa9e19230267",
        "name": "",
        "url": "/cmdk/test",
        "method": "get",
        "usetls": false,
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "3ef4c06b7f46afb3"
            ]
        ]
    },
    {
        "id": "4e705a77ac4fd3f3",
        "type": "http response",
        "z": "706afa9e19230267",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f08bc9909e663d0",
        "type": "function",
        "z": "706afa9e19230267",
        "name": "function 1",
        "func": "msg.payload.TESTE ='Teste'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "4e705a77ac4fd3f3"
            ]
        ]
    },
    {
        "id": "3ef4c06b7f46afb3",
        "type": "sql builder",
        "z": "706afa9e19230267",
        "parameters": [],
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "template": "select * from autorizacao_convenio\nwhere nr_sequencia = 80905",
        "output": "str",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "664b55cd6c90d4aa"
            ]
        ]
    },
    {
        "id": "664b55cd6c90d4aa",
        "type": "tasy data access",
        "z": "706afa9e19230267",
        "name": "",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "37a8bd2b5eb653ac"
            ]
        ]
    },
    {
        "id": "37a8bd2b5eb653ac",
        "type": "json",
        "z": "706afa9e19230267",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "4e705a77ac4fd3f3"
            ]
        ]
    },
    {
        "id": "cd2c696d06a2d053",
        "type": "switch",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "Valida Estágio",
        "property": "payload.records.NR_SEQ_ESTAGIO",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "51bc44fd658c0905"
            ],
            [
                "555be22ddb680ac8"
            ]
        ]
    },
    {
        "id": "f8d172f51b7cdbda",
        "type": "function",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "Abbort",
        "func": "\nif (msg.payload.select[0].resultSet[0].QT_ARQ == '0') {\n    msg.payload.abort = 'Para alterar para o estágio \"Encaminhado ao convênio (Em Anlise)\", é necessário informar anexo.';\n} else {\n    msg.payload.ds_observacao = 'CM-EXT: Guia de Internação Encaminhada ao Convênio';\n    msg.payload.nr_atendimento = msg.payload.select[0].resultSet[0].NR_ATENDIMENTO;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "a70b88ac63eb4428",
                "1e6ced99e53f5021"
            ]
        ]
    },
    {
        "id": "4a018fbde69ec876",
        "type": "switch",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "Valida Tipo Autorização",
        "property": "payload.records.IE_TIPO_AUTORIZACAO",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "cd2c696d06a2d053"
            ],
            [
                "555be22ddb680ac8"
            ]
        ]
    },
    {
        "id": "204a42411668558d",
        "type": "tasy data access",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "",
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "f8d172f51b7cdbda"
            ]
        ]
    },
    {
        "id": "51bc44fd658c0905",
        "type": "sql builder",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "parameters": [
            {
                "variable": "nr_sequencia_autor",
                "value": "payload.records.NR_SEQUENCIA",
                "type": "msg"
            }
        ],
        "name": "SQL - Verifica se tem anexo",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "template": "select (select count(1) from AUTORIZACAO_CONVENIO_ARQ b where b.nr_sequencia_autor = a.nr_sequencia) qt_arq,\n    a.nr_atendimento\nfrom  autorizacao_convenio a\nwhere a.nr_sequencia = :nr_sequencia_autor\n",
        "output": "str",
        "x": 840,
        "y": 120,
        "wires": [
            [
                "204a42411668558d"
            ]
        ]
    },
    {
        "id": "555be22ddb680ac8",
        "type": "http response",
        "z": "02d8da1b2db80f5f",
        "g": "765cb5fcbf1ec363",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 1400,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d7cfd051f211e29",
        "type": "DBPanel Interceptor",
        "z": "02d8da1b2db80f5f",
        "tableName": "AUTORIZACAO_CONVENIO_PARA_TESTE_MUITO_IMPORTANTE",
        "name": "",
        "url": "",
        "view": "27058",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "c4bc9a9e46debd7e"
            ]
        ]
    },
    {
        "id": "c4bc9a9e46debd7e",
        "type": "switch",
        "z": "02d8da1b2db80f5f",
        "name": "Check Event",
        "property": "payload.eventMoment",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BEFORE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AFTER",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "4a018fbde69ec876"
            ],
            [
                "555be22ddb680ac8"
            ]
        ]
    },
    {
        "id": "ec9c58c94ff319b1",
        "type": "procedure",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "ATUALIZAR_OBS",
        "params": [
            {
                "paramname": "NR_ATENDIMENTO_P",
                "paramdatatype": "NUMBER",
                "paramtype": "IN",
                "paramvalue": "payload.nr_atendimento",
                "typedInput": "msg"
            },
            {
                "paramname": "DS_OBSERVACAO_P",
                "paramdatatype": "VARCHAR2",
                "paramtype": "IN",
                "paramvalue": "payload.ds_observacao",
                "typedInput": "msg"
            }
        ],
        "sql": "",
        "procedure": "GERAR_ATEND_PAC_OBS_PRIOR",
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "40fbf948b5c67f58"
            ]
        ]
    },
    {
        "id": "3f21df529cec25db",
        "type": "DBPanel Interceptor",
        "z": "02d8da1b2db80f5f",
        "tableName": "",
        "name": "BlankTableNameInterceptor",
        "url": "",
        "view": "100602",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "c4bc9a9e46debd7e"
            ]
        ]
    },
    {
        "id": "a70b88ac63eb4428",
        "type": "debug",
        "z": "02d8da1b2db80f5f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 520,
        "wires": []
    },
    {
        "id": "40fbf948b5c67f58",
        "type": "tasy data access",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "",
        "x": 1350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1e6ced99e53f5021",
        "type": "switch",
        "z": "02d8da1b2db80f5f",
        "g": "e3ce98a103ee4084",
        "name": "",
        "property": "payload.nr_atendimento",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "ec9c58c94ff319b1"
            ],
            [
                "555be22ddb680ac8"
            ]
        ]
    }
]
